@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/kfojcnqeu92fr1mu51tjasc6cshyl4bo_1.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/kfokcnqeu92fr1mu51xiizcxkmny_1.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/kfojcnqeu92fr1mu51s7acc6cshyl4bo_1.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/kfolcnqeu92fr1mmsu5fbbc9amp6lq_1.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kfomcnqeu92fr1mu4mxpktu1kg_1.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/kfolcnqeu92fr1mmeu9fbbc9amp6lq_1.ttf) format('truetype');
}
