        .area_name1{ width:150px; height:25px; float: left; overflow: hidden; }
        .area_name2{ width:80px; height:25px; float: left; overflow: hidden; font-size: 14px; color:#999; }
        .area_name3{ width:120px; height:25px; float: left; overflow: hidden; font-size: 14px; color:#999; }
        .area_name4{ width:380px; height:30px; float: left; overflow: hidden; }
        .area_name5{ width:100px; height:25px; float: left; overflow: hidden; }

        .line { height:1px; margin:0; width:100%; padding-bottom: 8px;}
        .gray { color:#999999;  }
        .line26 { line-height: 26px; }
        .content_title { height:36px; font-weight: bold; padding:6px;background-color: #35a2f1;  color: #fff; }
        .content_nr { height:40px; padding:6px; }
        .content_nr a{ color:#000; }

        .content_nologin { height:40px; padding:6px; }
        .content_nologin a{ color:#35a2f1; }

        .content_nr a:hover { color:red; }
        .pages a {     
            width: auto;
            height: 26px;
            margin: 0 2px 0 2px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 2px;
            padding-bottom: 2px;
            background: #908d8d;
            color: #fff; 
            }
        .red { font-size: 14px; color:red;  }
        .lan { font-size: 14px; color:#4cd4f7;  }
        .time { width:130px; height:25px; border-radius: 4px; border: #bfbbbb 1px solid; padding: 4px;}

        .px { font-weight: bold; color:#fff; font-size: 16px; }
        .index_px { font-weight: bold; color:red; font-size: 20px; }

        .btn-sub{ width: 110px;  border: none; font-size: 15px;  height: 33px;  line-height: 30px;  color: #fff;  text-align: center;  background: #35a2f1; border-radius: 5px;}

        .smldiv {width: 100%; margin: 0 auto; height: auto; overflow: hidden;  border: 1px dotted #b5daf9;  border-radius: 4px; display: none; margin-bottom: 0.8rem; }
    .btn_cx {background:#35a2f1;font-size:20px;color:white;border:none;border-radius: 4px; font-size: 15px; height: 26px;}
    .btn_cx:hover{background: #27a0e8;}


    .bidding_type1 { width:100%;height:40px;border-bottom: 1px #35a2f1 solid; }
    .bidding_type2 { width:150px;height:40px;line-height:  40px;text-align:  center;color: #35a2f1;font-weight: bold;float: left;background-color: #ffffff;border: 1px #35a2f1 solid;margin-left: -1px;}
    .bidding_type3 { width:150px;height:40px;line-height:  40px;text-align:  center;color: #ffffff;font-weight: bold;float: left;background-color: #35a2f1;}

    .bidding_type2 a { color:#35a2f1; }
    .bidding_type3 a { color:#fff; }