/*container类定宽*/
.container {
	width: 1180px;
	padding-left: 0;
	padding-right: 0;
}
/*header头部的基本设置*/
.pr0{
    padding-right: 0px;
}
.pl0{
    padding-left: 0px;
}
.nav-logo{
    margin-top:-2px;
}
.header {
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom:1px solid #e2e2e2;
    background-color: #f2f2f2;
    height: 63px;
    min-width:1180px;
}
.header .row{
	padding:0px;
}
.header-middle a:hover {
    color:#4877ed;
}
#Pagination{
	vertical-align:top;
}
.page-number{
	display:inline-block;
	margin-left:15px;
	text-align:center;
	height:34px;
	vertical-align:top;
	line-height: 34px;
	font-size:14px;
}
#pageCount{
	padding-left:5px;
	padding-right:5px;
}
/*header头部中部导航菜单*/
.header-middle {
    line-height: 43px;
}
.header-middle a {
    color:#333;
    font-size : 18px;
    margin-left:24px;
    margin-right:24px;
    padding-left: 10px;
    height: 100%;
    display: inline-block;
    padding: 0px;
}
/*伪状态颜色*/
.username:hover, .userpic {
    color:#4877ed;
}
.userpic{
	width:32px;
	height:32px;
	display:inline-block;
}
.userpic img{
	width:100%;
	height:100%;
	border-radius:100%;
}
.logout:hover {
    color:#FF5151;
}
.header-mid {width:700px;padding-left:0;padding-right:0;}
/*header头部右侧个人信息菜单及间距*/
.header-right {
    padding-top: 10px;
    width:200px;
    float:right;
    font-size:12px;
}
.header-right .username{
	max-width: 50px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-right>*{
	vertical-align:middle;
}
.line-center{
	height: 42px;
    display: inline-block;
    line-height: 24px;
}
.header-right a{
    color : #000;
}
.userpic, .username, .header-space, .logout{
    margin-left : 10px;
}
/*下拉菜单选项*/
.drop-hover {
    position: relative;
    padding-bottom: 10px !important;
}
.drop-menu {
    position: absolute;
    left:100px;
    top:60px;
    padding:10px 5px;
    border-radius: 3px;
    background-color: #f2f2f2;
    border:1px solid #e2e2e2;
    z-index:999;
}
.drop-menu p {
    background:url('../fonts/pie-chart.svg') 8px center no-repeat;
    margin: 0;
    line-height:32px;
}
.drop-menu p.p1{
   background:url('../fonts/diamond-shape.svg') 8px center no-repeat;
}
.drop-menu a {
    color : #666;
}
.drop-menu img,.drop-menu a{
    font-size:16px;
    padding-right:3px;
    padding-left:25px;
}
/*灰色三角形和白色三角形，合力构造下拉菜单三角线*/
.triangle {
    position: absolute;
    top : -20px;
    left:48px;
    width:10px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid transparent;
    border-bottom:10px solid #e2e2e2;
}
/*控制区域*/
.ctrl-show{
	width:100%;
	height:20px;
	top : -20px;
	left: 0px;
    cursor:pointer;
	position:absolute;
}
.triangle-white {
    position: absolute;
    top : -19px;
    left:48px;
    width:10px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid transparent;
    border-bottom:10px solid #f2f2f2;
}

/*页脚基本设置*/
.footer {
    width:100%;
    height: 150px;
    background-color: #333;
    margin-top: 60px;
    min-width:1180px;
    overflow:hidden;
}
/*左侧网站logo定位设置*/
.logo {
    height: 150px;
    line-height: 150px;
    display: inline-block;
}

/*logo右侧基本信息设置*/
.content {
    height: 150px;
    display: block;
    padding: 39px 0 0 30px;
}
.content p {
    color : #ccc;
}
.content a {
    color : #fff;
}
.footer-space {
    margin : 0 32px 0 32px;
}
/*右侧公众号基本设置*/
.footer-logo {
    display: inline-block;
    padding: 20px 0px 0px 20px;
    color : #fff;
}
.footer-logo p{padding-top:4px;}

.content p .foot-space{
    color:#666;
}
.f14{
    font-size:14px;
}
.mr100{
    margin-right: 35px;
}
.mt14{
    margin-top: 14px;
}

/*浮动*/
.fl{float: left}
.fr{float: right}

/*文字对齐方式*/
.text-l{text-align: left}
.text-c{text-align: center}
.text-r{text-align: right}

input:-webkit-autofill { 
-webkit-box-shadow: 0 0 0px 1000px #fcfcfc inset !important; 
}

.top-logo{
	display:block;
	width:242px;
	height:45px;
	background-image: url(../images/logo_top.png);
    background-image: -webkit-image-set(url(../images/logo_top.png) 1x,url(../icon/logo-top-2.png) 2x);
    background-repeat:no-repeat;
}
/* video::-webkit-media-controls-overlay-play-button{
	display:none;
} */
.video-play,.review-left-play,.video-play{
	display:none;
}